# Python
__pycache__
.pyc

# pixi
.pixi/*

# PyInstaller
build
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# macOS
.DS_Store

# Build
.venv/
build/
dist/
scripts/
.benchmarks/local/
