# Python
__pycache__
.pyc

# PyInstaller
build
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea

# macOS
.DS_Store

# Build
.venv
crysfml*
pycrysfml*
build
dist
repo
scripts

!repo/
!repo/CFML/
!repo/CFML/**

# Misc
.benchmarks/local

# pixi environments
.pixi/*
!.pixi/config.toml
